
@{
    ViewBag.Title = "Setting";
}

<center><img src="~/Content/Pictures/logobukadiri.jpg" alt="Logo BukaDiri" width="300" height="125" onclick="window.location.href='/'" /></center>
<div align="right" class="btn_homesetting">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-success" onclick="window.location.href='/'">Home</button>
        <button type="button" class="btn btn-success active" onclick="window.location.href='/Setting'">Setting</button>
    </div>
</div><br /><br />
<div align="center">
    <div class="btn-group">
        <button type="button" onclick="window.location.href='/Provinsi'" class="btn btn-outline-success set_btn">Provinsi</button>
        <button type="button" onclick="window.location.href='/Pilihan'" class="btn btn-outline-success set_btn">Pilihan</button>
        <button type="button" onclick="window.location.href='/Lapak'" class="btn btn-outline-success set_btn">Lapak</button>
        <button type="button" onclick="window.location.href='/Item'" class="btn btn-outline-success set_btn">Item</button>
    </div>
</div>
<hr />

