
@{
    ViewBag.Title = "Provinsi";
}

<center><img src="~/Content/Pictures/logobukadiri.jpg" alt="Logo BukaDiri" width="300" height="125" onclick="window.location.href='/'" /></center>
<div align="center">
    <div class="btn-group">
        <button type="button" onclick="window.location.href='/Provinsi'" class="btn btn-success set_btn active">Provinsi</button>
        <button type="button" onclick="window.location.href='/Pilihan'" class="btn btn-outline-success set_btn">Pilihan</button>
        <button type="button" onclick="window.location.href='/Lapak'" class="btn btn-outline-success set_btn">Lapak</button>
        <button type="button" onclick="window.location.href='/Item'" class="btn btn-outline-success set_btn">Item</button>
    </div>
</div>
<hr />
<!-- Button trigger modal Tambah data provinsi-->
<button type="button" class="btn btn-primary" data-toggle="modal" id="tampilModalTambah">
    <i class="fa fa-plus-circle"></i> Tambah Data
</button>
@* Button Export Laporan *@
<a class="btn btn-primary" href="@Url.Action("ExportReportProv","Provinsi")"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export Data Provinsi</a>
<br><br>

@* =======alert======= *@
<div id="notifsukses" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
    <strong id="pesansukses">Data berhasil disimpan!</strong>
    @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>*@
</div>

<div id="notifgagal" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
    <strong id="pesangagal">Data gagal disimpan!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table class="table" id="listDataProv">
    <thead>
        <tr>
            <th>Kode Provinsi</th>
            <th>Nama Provinsi</th>
            <th></th>
        </tr>
    </thead>
</table>

@* Modal Tambah *@
<!-- Modal -->
<div class="modal fade" id="modalTambahProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Data Provinsi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formTambahProv">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="kodeProvinsi" class="col-sm-4 col-form-label">Kode Provinsi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="KodeProvinsi" name="kode_provinsi" placeholder="Kode Provinsi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="namaProvinsi" class="col-sm-4 col-form-label">Nama Provinsi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="NamaProvinsi" name="nama_provinsi" placeholder="Nama Provinsi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jumlahKota" class="col-sm-4 col-form-label">Jumlah Kota</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="JumlahKota" name="jumlah_kota" placeholder="Jumlah Kota">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-power-off"></i> Tutup</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-recycle"></i> Set Ulang</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan Data</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Modal Edit *@
<!-- Modal -->
<div class="modal fade" id="modalEditProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Data Provinsi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEditProv">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="kodeProvinsi" class="col-sm-4 col-form-label">Kode Provinsi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="KodeProvinsiEdit" name="kode_provinsi" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="namaProvinsi" class="col-sm-4 col-form-label">Nama Provinsi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="NamaProvinsiEdit" name="nama_provinsi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="jumlahKota" class="col-sm-4 col-form-label">Jumlah Kota</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="JumlahKotaEdit" name="jumlah_kota">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-power-off"></i> Tutup</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i> Update Data</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Modal Detail *@
<!-- Modal -->
<div class="modal fade" id="modalDetailProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Data Provinsi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="kodeProvinsi" class="col-sm-4 col-form-label">Kode Provinsi</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="KodeProvinsiDetail" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="namaProvinsi" class="col-sm-4 col-form-label">Nama Provinsi</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="NamaProvinsiDetail" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="jumlahKota" class="col-sm-4 col-form-label">Jumlah Kota</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="JumlahKotaDetail" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-power-off"></i> Tutup</button>
            </div>
        </div>
    </div>
</div>

@* Modal Delete *@
<div class="modal" tabindex="-1" role="dialog" id="modalHapusProv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin akan menghapusnya?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-power-off"></i> Tutup</button>
                <button type="button" class="btn btn-danger" id="hapusOK"><i class="fa fa-trash-o"></i> Hapus</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
    $(document).ready(function () {

        //load data provinsi (list)
        $("#listDataProv").DataTable({
            "aLengthMenu": [[5, 10, 25, 50, 75, -1], [5, 10, 25, 50, 75, "Semua"]],
            "iDisplayLength": 5,
            "ajax": {
                "url": "/Provinsi/LoadData",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "kode_provinsi" },
                { "data": "nama_provinsi" },
                {//tambahan untuk button
                    "data": "kode_provinsi", "render": function (data) {
                        return "<button id='" + data + "' class='lihat btn btn-info'><i class='fa fa-eye'></i> Lihat</button>&nbsp;<button id='" + data + "' class='edit btn btn-success'><i class='fa fa-pencil-square-o'></i> Edit</button>&nbsp;<button class='hapus btn btn-danger' id='" + data + "'><i class='fa fa-trash-o'></i> Hapus</button>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "300px"
                },
            ],
            "language": {
                "emptyTable": "Tidak ada data yang disimpan!",
                "infoEmpty": "Menampilkan 0 - 0 dari 0 data",
                "info": "Menampilkan _START_ - _END_ dari _TOTAL_ data",
                "infoFiltered": "(Dari total _MAX_ data)",
                "lengthMenu": "Tampilkan _MENU_ data",
                "search": "Cari:",
                "processing": "Sedang dalam proses...",
                "loadingRecords": "Harap tunggu...",
                "paginate": {
                    "first": "Pertama",
                    "last": "Terakhir",
                    "next": "Selanjutnya",
                    "previous": "Sebelumnya"
                }
            }
        });//akhir load list data


        //munculin modal tambah
        $("#tampilModalTambah").click(function () {
            $("#modalTambahProv").modal({ backdrop: "static", keyboard: false });
        });//akhir modal tambah

        //reset isi modal tambah saat di close
        $('#modalTambahProv').on('hidden.bs.modal', function (e) {
            $(this).find('#formTambahProv')[0].reset();
        });

        //reset isi modal edit saat di close
        $('#modalEditProv').on('hidden.bs.modal', function (e) {
            $(this).find('#formEditProv')[0].reset();
        });

        //proses tambah
        $("#formTambahProv").on('submit', function (event) {
            event.preventDefault();
            //preventDefault atau event.preventDefault() adalah sebuah method yang berfungsi untuk mencegah terjadinya event bawaan dari sebuah DOM, misalnya tag "a href" jika kita klik, maka halaman browser akan melakukan reload, atau sebuah form jika kita klik tombol submit maka akan melakukan reload pula

            var kode = $("#KodeProvinsi").val();
            //alert(kode.length);
            var nama = $("#NamaProvinsi").val();
            if(kode == ""){
                alert("Kode Provinsi tidak boleh kosong!");
            }else if(kode.length > 5 || kode.length < 5){
                alert("Kode Provinsi harus 5 digit!");
            }else if(nama == ""){
                alert("Nama Provinsi tidak boleh kosong!");
            }else{
                $.ajax({
                    url: "/Provinsi/SimpanDataProv", //action-penting
                    method: "POST", //methode-penting
                    data: new FormData(this), //optional
                    contentType: false, //optional
                    cache: false, //optional
                    processData: false, //optional
                    dataType: "json", //optional
                    success: function (data) { //penting
                        if (data.success == 1) {
                            //alert("aaaa");
                            $("#listDataProv").DataTable().ajax.reload();
                            $("#pesansukses").text('Data berhasil disimpan!');
                            //$("#notifsukses").css("display", "block");
                            $("#notifsukses").fadeTo(4000, 500).slideUp(500, function () {
                                $("#notifsukses").slideUp(500);
                            });
                            //$("#modalTambahProv").modal("hide");
                        } else {
                            $("#pesangagal").text('Data gagal disimpan, kode provinsi sudah terpakai!');
                            //$("#notifgagal").css("display", "block");
                            $("#notifgagal").fadeTo(4000, 500).slideUp(500, function () {
                                $("#notifgagal").slideUp(500);
                            });
                            //$("#modalTambahProv").modal("hide");
                        }
                        $("#modalTambahProv").modal("hide");
                    }
                });
            }     
        });//akhir proses tambah

        //Detail
        $(document).on('click', '.lihat', function () {
            var kode = $(this).attr("id");
            //alert(kode);
            //console.log(nm);

            $.ajax({
                url: "/Provinsi/DetailDataProv/" + kode,
                dataType: "json",
                success: function (json) {

                    console.log(json);
                    $("#KodeProvinsiDetail").val(json.data.kode_provinsi);
                    $("#NamaProvinsiDetail").val(json.data.nama_provinsi);
                    $("#JumlahKotaDetail").val(json.data.jumlah_kota);
                    $("#modalDetailProv").modal({ backdrop: "static", keyboard: false });
                }
            });
        });//akhir Detail

        //edit
        $(document).on('click', '.edit', function () {
            var kode = $(this).attr("id");
            //alert(kode);
            //console.log(nm);

            $.ajax({
                url: "/Provinsi/EditDataProv/" + kode,
                dataType: "json",
                success: function (json) {

                    //console.log(json);
                    $("#KodeProvinsiEdit").val(json.data.kode_provinsi);
                    $("#NamaProvinsiEdit").val(json.data.nama_provinsi);
                    $("#JumlahKotaEdit").val(json.data.jumlah_kota);
                    $("#modalEditProv").modal({ backdrop: "static", keyboard: false });
                }
            });
        });//akhir edit

        //proses update data provinsi
        $("#formEditProv").on('submit', function (event) {
            event.preventDefault();
            //preventDefault atau event.preventDefault() adalah sebuah method yang berfungsi untuk mencegah terjadinya event bawaan dari sebuah DOM, misalnya tag "a href" jika kita klik, maka halaman browser akan melakukan reload, atau sebuah form jika kita klik tombol submit maka akan melakukan reload pula.
            $.ajax({
                url: "/Provinsi/UbahDataProv", //action-penting
                method: "POST", //methode-penting
                data: new FormData(this), //optional
                contentType: false, //optional
                cache: false, //optional
                processData: false, //optional
                dataType: "json", //optional
                success: function (data) { //penting
                    if (data.success==1) {
                        $("#listDataProv").DataTable().ajax.reload();
                        $("#pesansukses").text('Data berhasil diupdate!');
                        //$("#notifsukses").css("display", "block");
                        $("#notifsukses").fadeTo(4000, 500).slideUp(500, function () {
                            $("#notifsukses").slideUp(500);
                        });
                    } else {
                        $("#pesangagal").text('Data gagal diupdate!');
                        //$("#notifgagal").css("display", "block");
                        $("#notifgagal").fadeTo(4000, 500).slideUp(500, function () {
                            $("#notifgagal").slideUp(500);
                        });
                        //$("#modalEditProv").modal("hide");
                    }
                    $("#modalEditProv").modal("hide");
                }
            });
        });

        //modal hapus(konfirmasi)
        var kode_hapus;//variable global
        $(document).on('click', '.hapus', function () {
            kode_hapus = $(this).attr("id");
            $("#modalHapusProv").modal({ backdrop: "static", keyboard: false });
        });


        //proses delete
        $("#hapusOK").click(function () {
            $.ajax({
                url: "/Provinsi/HapusDataProv/" + kode_hapus,
                beforeSend: function () {
                    $("#hapusOK").html('<i class="fa fa-hourglass-half"></i> proses menghapus . . .');
                },
                success: function (data) {
                    setTimeout(function () {
                        $("#hapusOK").html('<i class="fa fa-trash-o"></i> Hapus');
                        $("#modalHapusProv").modal("hide");
                        $("#pesansukses").text(' Data berhasil dihapus!');
                        //$("#notifsukses").css("display", "block");
                        $("#notifsukses").fadeTo(4000, 500).slideUp(500, function () {
                            $("#notifsukses").slideUp(500);
                        });
                        $("#listDataProv").DataTable().ajax.reload();
                    }, 2000);
                }
            });
        });//akhir hapus
    });//document ready function
    </script>
}